<alert ng-repeat="alert in stageCtrl.alerts()" type="{{alert.type}}" close="stageCtrl.removeAlert(alert)">{{alert.msg}}</alert>
<form name="addForm" role="form" novalidate class="form-horizontal">
    <div class="form-group">
        <label for="titleInput" class="col-sm-2 control-label">Title</label>

        <div class="col-sm-10">
                <span class="label label-danger"
                      ng-show="stageCtrl.addForm.submitted && addForm.title.$error.required">Required!</span>
            <input type="text" ng-model="stageCtrl.addForm.title" name="title" id="titleInput" class="form-control"
                   placeholder="Title" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label for="displayedOnBoardInput">
                    <input type="checkbox" ng-model="stageCtrl.displayedOnBoard" name="displayedOnBoard" id="displayedOnBoardInput"> Displayed on board?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-click="stageCtrl.submitAddForm(addForm)" class="btn btn-primary">Add Stage</button>
        </div>
    </div>
</form>
