<form role="form">
    <div class="form-group">
        <label class="sr-only" for="avatarFilter">Filter</label>
        <input type="search" ng-model="search.$" class="form-control" id="avatarFilter"
               placeholder="Type to filter avatars"/>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Avatar</th>
            <th><a href="" ng-click="avatarCtrl.predicateReverse('alias')">Alias</a></th>
            <th><a href="" ng-click="avatarCtrl.predicateReverse('role')">Role</a></th>
            <th><a href="" ng-click="avatarCtrl.predicateReverse('team')">Team</a></th>
            <th><a href="" ng-click="avatarCtrl.predicateReverse('fullName')">Full Name</a></th>
            <th><a href="" ng-click="avatarCtrl.predicateReverse('email')">Email</a></th>
            <th><a href="" ng-click="avatarCtrl.predicateReverse('active')">Active</a></th>
            <th><a href="" ng-click="avatarCtrl.predicateReverse('created')">Created</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="avatar in avatarCtrl.avatars | orderBy:avatarCtrl.predicate:avatarCtrl.reverse | filter:search">
            <td avatar-td handles="avatar.avatarHandles"></td>
            <td>{{avatar.alias}}</td>
            <td>{{avatar.role}}</td>
            <td>{{avatar.team}}</td>
            <td>{{avatar.fullName}}</td>
            <td>{{avatar.email}}</td>
            <td>{{avatar.active}}</td>
            <td>{{avatar.created | timeAgo | capitalize}}</td>
            <td>
                <button type="button" class="btn btn-default btn-sm" ui-sref="avatar.detail">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
