<form role="form">
    <div class="form-group">
        <label class="sr-only" for="ticketFilter">Filter</label>
        <input type="search" ng-model="search.$" class="form-control" id="ticketFilter"
               placeholder="Type to filter tickets"/>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th><a href="" ng-click="ticketCtrl.predicateReverse('title')">Title</a></th>
            <th><a href="" ng-click="ticketCtrl.predicateReverse('ticketType.title.en')">Type</a></th>
            <th><a href="" ng-click="ticketCtrl.predicateReverse('stage.title.en')">Workflow Stage</a></th>
            <th><a href="" ng-click="ticketCtrl.predicateReverse('author.alias')">Author</a></th>
            <th><a href="" ng-click="ticketCtrl.predicateReverse('created')">Created</a></th>
            <th><a href="" ng-click="ticketCtrl.predicateReverse('assignee.alias')">Assignee/s</a></th>
            <th><a href="" ng-click="ticketCtrl.predicateReverse('due')">Due Date</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ticket in ticketCtrl.ticketData | orderBy:ticketCtrl.predicate:ticketCtrl.reverse | filter:search">
            <td>{{ticket.title}}</td>
            <td>{{ticket.ticketType.title.en}}</td>
            <td>{{ticket.stage.title.en}}</td>
            <td>{{ticket.author | joinProps:"alias"}}</td>
            <td>{{ticket.created | timeAgo | capitalize}}</td>
            <td>{{ticket.assignee | joinProps:"alias"}}</td>
            <td>{{ticket.due | timeFormat}}</td>
            <td>
                <button type="button" class="btn btn-default btn-sm" ui-sref="ticket.detail">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
