.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
/* For the ticket edit centring... move into modules... */
.table > tbody > tr > td {
  vertical-align: middle;
}
.ribbon {
  background-color: #aa0000;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-box-shadow: -4px 7px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -4px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -4px 7px 0px rgba(0, 0, 0, 0.15);
  z-index: 1050;
}
.ribbon a {
  border: 1px solid #ffaaaa;
  color: #ffffff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444444;
}
/* Adjust the margin and body due to the ribbon */
.navbar-toggle {
  margin-right: 6px;
}
body {
  overflow-x: hidden;
}
.avatar-img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
